body {
    background-image: url("Stupa_Borobudur.jpg");
    background-size: cover;
}
div {
    width: 500px;
    height: 1000px;
    border: 0px solid #666;
    margin: 0 auto;
    position: relative;
    float: right;
    bottom: 1px;
    background-color: white;
    text-align: justify;
}
